.spinner-container{
    width:100%;
    background-color: white;
    height:100vh;
    border:2px red solid;
    /* margin-top:500px; */
}

.lds-dual-ring {
    /* display: inline-block; */
    width: 64px;
    height: 64px;
    /* margin-left: 800px; */
    /* border:2px red solid; */
    margin:auto;
    margin-top:200px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #cef;
    border-color: red transparent red transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

