.product-detail-container{
    width:100%;
    height:100vh;
    background-color: #f7effb;
    display:flex;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    

    /* border:2px red solid; */
}

.product-detail-image-container{
    width:35%;
    max-height:80%;
    margin:50px;
    /* border:2px green solid; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.product-detail-image{
   height:80%;
   width:80%;
    flex-shrink:1;
}

.product-detail-text-container{
    width:60%;
    margin:30px;
    display:flex;
    flex-direction: column;



    /* border:2px blue solid; */
}

.product-detail-title{
    font-size:32px;
    margin:10px;
}

.product-detail-category{
    font-size:15px;
    margin:10px;
}

.product-detail-description{
    font-size:20px;
    margin:10px;
}

.product-detail-price{
    font-size:20px;
    margin:10px;
    /* border:2px red solid; */
}

.price{
    color:red;
}

.product-detail-rating{
    font-size:20px;
    margin:10px;
    color:green;
    /* border:2px red solid; */
}
    



.button{
    font-size:16px;
    padding:10px;
    margin:10px;
    background-color: #ffd814;
    border-width:0px;
    border-radius:10px;
}

.buy-button{
    background-color: #ffa41c;
}

.products-button{
    background-color: #eebd42;
}




@media screen and (max-width:500px){
    .product-detail-container{
        width:100%;
        background-color: #f7effb;
        display:flex;
        flex-direction: column;
        font-family: 'Times New Roman', Times, serif;
        line-height: 1.5;
        
    
        /* border:2px red solid; */
    }
    
    .product-detail-image-container{
        width:90%;
        margin:auto;
        /* border:2px green solid; */
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    
    .product-detail-image{
        /* height:90%; */
        width:90%;
        flex-shrink:1;
        /* border: 2px red solid; */

    }
    
    .product-detail-text-container{
        width:90%;
        margin:auto;
        
        display:flex;
        flex-direction: column;
    
    
    
        /* border:2px blue solid; */
    }
    
    .product-detail-title{
        font-size:18px;
        margin:5px;
    }
    
    .product-detail-category{
        font-size:12px;
        margin:5px;
    }
    
    .product-detail-description{
        font-size:14px;
        margin:5px;
    }
    
    .product-detail-price{
        font-size:18px;
        margin:5px;
    }
    
    .price{
        color:red;
    }
    
    .product-detail-rating{
        margin:5px;
    
    }

    .buttons-container{
        flex-wrap:wrap;
    }
    
    .button{
        font-size:16px;
        padding:10px;
        margin:10px;
        background-color: #ffd814;
        border-width:0px;
        border-radius:10px;
        /* flex-shrink:1; */
    }
    
    .buy-button{
        background-color: #ffa41c;
    }
    
    .products-button{
        background-color: #eebd42;
    }
    
}