/* .products-button-container{
    text-align:right;
}
.view-all-products-button{
    font-size:16px;
    padding:10px;
    margin:10px;
    background-color: #eebd42;
    border-width:0px;
    border-radius:10px;
    margin: 20px;
}
.input-container{
    margin:5px;
    text-align: center;
}

.input-feild{
    height:30px;
    width:25%;
    margin:10px;
}

.submit-button-container{

    text-align:center;
    
}
.submit-button{
    font-size:16px;
    padding:10px;
    
    background-color:#eebd42;
    border-width:0px;
    border-radius:10px;
    margin: 7px;
}
    
    

.error-message{
    color:red;
}

.success-message{
    color:green;
}
 */